# Terraform 

terraform/bootstrap/.terraform.lock.hcl
terraform/bootstrap/.terraform/
terraform/bootstrap/terraform.tfstate
terraform/deployment/.terraform.lock.hcl
terraform/deployment/.terraform/

# Python

.DS_Store
.vscode/
app/.DS_Store
app/__pycache__/
